*.navbar img{
   width: 150px;
   }
header{
   width: 100%;
   border-bottom: 1px solid grey;
   position:sticky;
   top: 0;
   z-index: 1;
   background-color: pink; 
}

.us{
   background-color: red;
   color: white;
   height: 50px;
   width: 100px;
}

.news img{
    height:400px;
    width: 100%;
}
.news{
   background-color: darkblue;
   color: white;
}
.news h1,h2{
   color: white;
   justify-content: start;
   align-items: center;
   padding: 80px;
}
.news button{
   background-color: darkblue;
   color: white;
   width: 150px;
   height: 40px;
}
.news button:hover{
   background-color: steelblue;
}
.option{
   background-color: darkblue;
}
.option button{
   background-color: darkblue;
   color: white;
   height: 50px;
   width: 300px;
   }
   .option i{
     color: yellow; 
   }
   .option button:hover{
     background-color: steelblue;
   }
.glance{
    text-align: center;
    justify-content: center;
    align-items: center;
    color:black;
    background-color:white;
  }
.glance h1{
    font-size: 80px;
    font-weight: 100; 
 
}
.insight,.media{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.flex{
   display: flex;
   flex-wrap: wrap;
}
.read figure img{
   width: 100%;
 
 }
 
.board{
    background-color: darkblue;
 }
 .board h1{
    color: white;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 80px;
 }
 .board h5{
    color: white;
 }
 .board h6{
    color:steelblue;
 }
 
 .last,.final{
   background-color: black;
   color: white;
 }
 .last img{
   width: 150px;
 }
 .last h4{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: white;
 }
 
 .final h5{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .last{
  border-bottom: 1px solid grey;
   width: 100%;
 }
 
 